@model PigeonDetailsViewModel

@Html.Partial(Mvc.View.Setting.ListItems, Dom.EntityType.Pigeon.Id)

<div class="container">
	<div class="row">
		<br />
		<div class="col-md-8 col-md-offset-2">
			@using (Html.BeginForm(Mvc.Controller.Pigeon.Edit, Mvc.Controller.Pigeon.Name, FormMethod.Post, new { @class = "form" }))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(m => m.Detail.Id)
				@Html.RPTextBoxFor(m => m.Detail.Year)
				@Html.RPTextBoxFor(m => m.Detail.Code)
				@Html.RPTextBoxFor(m => m.Detail.Number)
				@Html.RPRadioButtonFor(m => m.Detail.SexId, Model.Detail.SexItems)
				<input type="submit" class="btn btn-primary" value="@StyleContext.GetTranslation(Dom.Translation.Common.Save)" />
				<input type="button" class="btn btn-warning" value="@StyleContext.GetTranslation(Dom.Translation.Common.Cancel)" data-href="@Url.Action(Mvc.Controller.Pigeon.Details, Mvc.Controller.Pigeon.Name, new {id = Model.Detail.Id})" />
			}
		</div>
	</div>
</div>
