@model RaceDetailsViewModel

@Html.Partial(Mvc.View.Setting.ListItems, Dom.EntityType.Race.Id)

<div class="container">
	<div class="row">
		<br />
		<div class="col-md-8 col-md-offset-2">
			@using (Html.BeginForm(Mvc.Controller.Race.Edit, Mvc.Controller.Race.Name, FormMethod.Post, new { @class = "form" }))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(m => m.Detail.Id)
				@Html.HiddenFor(m => m.Detail.OrganizationId)
				@Html.RPTextBoxFor(m => m.Detail.Name)
				@Html.RPDropDownFor(m => m.Detail.PointId, Model.Detail.PointItems, isMultiSelect: false)
				@Html.RPDateTimeFor(m => m.Detail.StartRaceTime, dateTimeFormat: DateTimeFormatUI.DateTime)
				@Html.RPDateTimeFor(m => m.Detail.DarknessBeginTime, dateTimeFormat: DateTimeFormatUI.DateTime)
				@Html.RPDateTimeFor(m => m.Detail.DarknessEndTime, dateTimeFormat:DateTimeFormatUI.DateTime)
				@Html.RPTextAreaFor(m => m.Detail.Weather, rows: 3)
				@Html.RPTabsWithDragFor(m => m.StatementIds, Model.StatementItems)
				<input type="submit" class="btn btn-primary" value="@StyleContext.GetTranslation(Dom.Translation.Common.Save)" />
				<input type="button" class="btn btn-warning" value="@StyleContext.GetTranslation(Dom.Translation.Common.Cancel)" data-href="@Url.Action(Mvc.Controller.Race.Details, Mvc.Controller.Race.Name, new { id = Model.Detail.Id })" />
			}
		</div>
	</div>
</div>