@model MemberItemsViewModel

<table class="table table-striped">
	<thead>
		<tr>
			<th>@StyleContext.GetTranslation(Dom.Translation.Member.Initials)</th>
			<th>@StyleContext.GetTranslation(Dom.Translation.Organization.Singular)</th>
			<th>@StyleContext.GetTranslation(Dom.Translation.Address.Singular)</th>
			<th>@StyleContext.GetTranslation(Dom.Translation.Common.Mobile)</th>
			<th>@StyleContext.GetTranslation(Dom.Translation.Pigeon.CountOfPigeons)</th>
			<th>@StyleContext.GetTranslation(Dom.Translation.Common.Status)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Items)
		{
		<tr data-href="@Url.Action(Mvc.Controller.Member.Details, Mvc.Controller.Member.Name, new { id = item.Id })">
			<td>@item.FormattedName</td>
			<td>@item.OrganizationName</td>
			<td>@item.FormattedAddress</td>
			<td>@item.Mobile</td>
			<td>@item.PigeonCount</td>
			<td>@StyleContext.GetTranslation(item.EntityStateNameCode)</td>
		</tr>
		}
	</tbody>
</table>